@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 14px;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #324158 ;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-container {
    width: 380px;
    height: 305px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.message-container {
    background: #fff;
    width: 370px;
    height: 295px;
    padding: 10px;
    margin: 6% auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.message-container h3{
    font-size: 20px;
    font-weight: normal;
    background: #00995b;
    border-radius: 30px;
    padding: 5px 15px;
    margin-top: 12%;
    
    margin-inline: 70px;
    color: #fff;
    
}

.message-container h3 span{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    background: #00995b;
    border-radius: 30px;
    padding: 0 0 0 7px;
}
.message-container p{
    margin: 15px 0 5px;
}

.logout-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    border-radius: 5px;
    color: #fff;
    margin: 10px 5px;
    text-decoration: none;
    cursor: pointer;
}

#form-container {
    transition: height 300ms;
}

#form-container.is-active {
    height: 420px;
}

.button-box {
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #eee;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 115px;
    height: 100%;
    background: #00995b;
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 90px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field, .select-group {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #333;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;
}

.check-box {
    margin: 15px 10px 20px 0;
}

.span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.form-container .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}